$bootstrap-icons-font-dir: "../node_modules/bootstrap-icons/font/fonts";

$primary: #23df93;
$white: #ffffff;

// farba pozadia
$body-bg: #9bb5ab;
// farba karty a tabulky
$card-bg: $white;
$table-bg: $white;
$input-bg: $white;